{# /templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Le garage d'un Geek{% endblock %}

{% block body %}
<div class="post-container">
    <div class="ui-display-panel">
        <h1 class="main-title">✉️ Nous contacter</h1>
        <hr class="ui-separator-thick">

        {# Affichage des messages de succès #}
        {% for message in app.flashes('success') %}
            <div class="ui-alert ui-alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}
            <div class="form-group">
                {{ form_label(contactForm.fullName) }}
                {{ form_widget(contactForm.fullName, {'attr': {'class': 'ui-input'}}) }}
            </div>

             <div class="form-group">
                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'ui-input'}}) }}
            </div>

             <div class="form-group">
                {{ form_label(contactForm.subject) }}
                {{ form_widget(contactForm.subject, {'attr': {'class': 'ui-input'}}) }}
            </div>

             <div class="form-group">
                {{ form_label(contactForm.content) }}
                {{ form_widget(contactForm.content, {'attr': {'class': 'ui-input'}}) }}
            </div>

            <button type="submit" class="ui-pill-filter active">
                🚀 Envoyer le message
            </button>
        {{ form_end(contactForm) }}
    </div>
</div>
{% endblock %}
