{# /templates/post/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}
    <header class="home-header">
        <h1 class="page-title">Tous les articles</h1>
        
        <nav class="category-pills">
            <a href="{{ path('app_post') }}" class="ui-pill-filter {{ not currentCategory is defined ? 'active' : '' }}">Tous</a>
            {% for category in categories %}
                <a href="{{ path('app_post_category', {'id': category.id}) }}" 
                class="ui-pill-filter {{ (currentCategory is defined and currentCategory.id == category.id) ? 'active' : '' }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </nav>
    </header>

    {% if posts is not empty %}
        <section class="ui-display-panel">
            <h2 class="main-title">Exploration</h2>

            <div class="blog-list">
                {% for post in posts %}
                    {{ include('post/_card.html.twig') }}
                {% endfor %}
            </div>
        </section>
    {% else %}
        <div class="ui-panel empty-state">
            <p>Aucun article trouvé dans cette catégorie.</p>
        </div>
    {% endif %}
{% endblock %}
