{# /templates/post/show.html.twig #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/share.js') }}"></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="post-container">
    
    <div class="back-button-wrapper">
        <a href="{{ path('app_post') }}" class="ui-pill-button">← Retour aux articles</a>
    </div>

    <article class="ui-display-panel">
        <header>
            <span class="ui-badge">{{ post.category.name }}</span>
            <h1 class="main-title">{{ post.title }}</h1>
            <p class="post-metadata">
                Posté par <strong>Admin</strong> • le {{ post.createdAt|date('d/m/Y') }}
            </p>
        </header>

        <hr class="ui-separator-thick">

       <div class="post-full-content">
            {{ post.content|markdown_to_html|optimize_images}}
        </div>

        <hr class="post-separator">

        <section class="post-interactions">
            {% if app.user %}
                <a href="{{ path('app_post_like', {'id': post.id}) }}"
                    class="ui-pill-like {{ post.isLikeByUser(app.user) ? 'is-active' : '' }}">
                        <span class="like-icon">{{ post.isLikeByUser(app.user) ? '❤️' : '🤍' }}</span>
                        <span class="like-count">{{ post.postLikes|length }}</span>
                        <span class="like-label">{{ post.postLikes|length > 1 ? 'Likes' : 'Like' }}</span>
                </a>
            {% else %}
                <div class="ui-pill-like is-disabled">
                    <span class="like-icon">❤️</span>
                    <span class="like-count">{{ post.postLikes|length }}</span>
                    <span class="like-label">{{ post.postLikes|length > 1 ? 'Likes' : 'Like' }}</span>
                    <a href="{{ path('app_login', { '_target_path': app.request.uri }) }}" class="like-helper">(Connectez-vous pour liker)</a>
                </div>
            {% endif %}
        </section>

        <div class="share-section">
            <p class="share-title">Cet article t'a plu ?</p>
            
            <div class="share-actions">
                <button id="copy-share-link" 
                    class="ui-pill-button active" 
                    data-url="{{ url('app_post_show', {id: post.id}) }}">
                    <span>🔗</span> Copier le lien de l'article
                </button>
                
                <span id="share-success">✓ Lien copié !</span>
            </div>
        </div>
    </article>

    <div class="back-button-wrapper">
        <a href="{{ path('app_post') }}" class="ui-pill-button">← Retour aux articles</a>
    </div>
</div>
{% endblock %}
